.nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    height:30px;
    background-color: white;
}
.nav  input:first-child  {
    background-color:white;
    width:150px;
    border:grey solid 2px;
}
.nav input{
    background-color: navajowhite;
    text-align: center;
}
.main{
    position: relative;
    margin-top: 10px;
    background-color: palegreen;
    border: white solid 5px;
    height:400px;
    width:100%;
}